*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:white;
    border:2px solid transparent;
    text-align: center;

}
header{
    position: relative;

}
.three{
    position: absolute;
    margin-left:-10%;
}
.two{
    position: absolute;
    margin-left:-23%;
}
.dne{
    position:absolute;
    margin-left:-43%;
}
.maa{
    margin-right:60%;
}
.eee{
    margin-top:90px;
}
.ttt{
    font-size:170%;
}
.MAT{
    color: rgb(100, 89, 89);
}
.myo{
    width:20rem;
    height:2.5rem;
}
.mama{
    background-color:  hsl(224, 93%, 58%);
    color: white;
    width:20rem;
    height:2.5rem;
    margin-top:1rem;
}
.dff{
    margin-top:90px;
}
h2{
    font-size:20px;
}
.lal{
    padding-top:32px;
    text-align:start;
    padding-left:1.5rem;
    color:  hsl(169, 7%, 50%);
}
.ser{
    padding-top:20px;
    text-align:start;
    padding-left:1.5rem;
    color:  hsl(169, 7%, 50%);
    
}
.zxa{
    padding-top:20px; 
}
.kls{
    margin-bottom:-0.2rem;
    padding-left:5px;
}
.pio{
    border:2px solid transparent;
    height:10.3rem;
    width:78%;
    margin-left:2.5rem;
    margin-top:3rem;
    background-color:whitesmoke;
    
}
.wsat{
    padding-right:13.5rem;
    margin-top:1rem;
}
.qwe{
    text-align: start;
    font-size:13px;
    padding-left:1rem;
    color: rgb(66, 64, 64);
}
.bam{
    height:35px;
    margin-top:0.4rem;
    border-radius: 50%;
}
.byg{
    font-size:10px;
    padding-right:6rem;
    padding-top: -30%;
    
       
}
.maggot{
    border: 2px solid transparent;
    width:100%;
    height: 340px;
    background-color: hsl(238, 22%, 44%);
    margin-top:23%;
    padding-top:10%;
    color:white;
}
.fiy{
    padding-top:7%;
}
.sxz{
    width:60%;
    margin-top:7%;
    height:2.4rem;
    color:white;
}
.hjt{
    width:60%;
    height:2.4rem;
    background-color: rgb(87, 87, 236);
    color:white;
    margin-top:2% ;
}
.owx{
    border:2px solid transparent;
    width:100%;
    height:100vh;
    background-color: hsl(243, 87%, 12%);
}
.edr{
    padding-right:5.5rem;
    margin-top:17%;
}
.kdk{
    padding-right:12rem;
    padding-top:1rem;
    transform:translateY(1.1rem);
}
.bcz{
    color:white;
    padding-right:7rem;
}
.bqw{
    margin-right:2rem;
    font-size:12px;
    color:rgb(70, 59, 59)

}
.vcm{
    margin-right:10.4rem;
    color: white;
    justify-content:space-evenly;
    margin-top:1.3rem;
}
.wert{
    color: white;
    padding-right:15.6rem;
    padding-top:1rem;
}

.wert li {
    padding-top: 1rem;
}
.oif{
    color:white;
    padding-top:3rem;
    padding-right:15rem;
}
.oif li{
    padding-top:1rem;
}
.fgr{
    padding-top:4rem;
}
.fgr img{
    border:1px solid white;
    border-radius:50%;
}

