*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:white;
    border:2px solid transparent;
    text-align: center;

}
header{
    position: relative;

}
.three{
    position: absolute;
    right: 1%;
}
.two{
    position: absolute;
    right:15%;
}
.dne{
    position:absolute;
    margin-left:-40%;
}
.maa{
    margin-right:60%;
}
.eee{
    margin-top:90px;
}
.ttt{
    font-size:170%;
}
.MAT{
    color: rgb(100, 89, 89);
}
.myo{
    width:20rem;
    height:2.5rem;
}

