*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:white;
    border:2px solid transparent;
    text-align: center;

}
header{
    position: relative;

}
.three{
    position: absolute;
    margin-left:-10%;
}
.two{
    position: absolute;
    margin-left:-23%;
}
.dne{
    position:absolute;
    margin-left:-43%;
}
.maa{
    margin-right:60%;
}
.eee{
    margin-top:90px;
}
.ttt{
    font-size:170%;
}
.MAT{
    color: rgb(100, 89, 89);
}
.myo{
    width:20rem;
    height:2.5rem;
}
.mama{
    background-color:  hsl(224, 93%, 58%);
    color: white;
    width:20rem;
    height:2.5rem;
    margin-top:1rem;
}
.dff{
    margin-top:90px;
}
h2{
    font-size:20px;
}
.lal{
    padding-top:32px;
    text-align:start;
    padding-left:1.5rem;
    color:  hsl(169, 7%, 50%);
}
.ser{
    padding-top:20px;
    text-align:start;
    padding-left:1.5rem;
    color:  hsl(169, 7%, 50%);
    
}
.zxa{
    padding-top:20px; 
}
.kls{
    margin-bottom:-0.2rem;
    padding-left:5px;
}
.pio{
    border:2px solid black;
    height:10rem;
    width:78%;
    margin-left:2.5rem;
    margin-top:3rem;
    background-color:whitesmoke;
    
}
.wsat{
    padding-right:13.5rem;
    margin-top:1rem;
}
.qwe{
    text-align: start;
    font-size:13px;
    padding-left:1rem;
    color: rgb(66, 64, 64);
}
.bam{
    height:35px;
    padding-right:12.9rem;
    margin-top:0.4rem;
    border-radius:100px;
    
}
.byg{
    font-size:10px;
    padding-right:6rem;
    padding-top: -30%;
    
       
}
.maggot{
    border:2px solid black;
    width:100%;
    height:320px;
}
