body{
    background-color: whitesmoke;
    min-height:100vh;

}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.rat{
    border: 2px solid transparent;
    width:100vw;
    height:60px;
    position:relative;
}
.man{
    height:30px;
    padding-left:2rem;
}
.mom{
    position:absolute;
    right:0;
    padding-right:2rem;
    color:gray;
    justify-content: space-evenly;
}
.moo{
    border:2px solid transparent;
    width:50%;
}
.yam{
    padding-left:2rem;
    font-size:3rem;
}
.ram{
    padding-left:2rem;
    font-size:1rem;
}
.mim{
    height:30px;
    margin-left:2rem;
    width:15rem;
}

.mim::placeholder{color:rgb(189, 180, 180);
}
.mouth{
    background-color: rgb(79, 79, 228);
    color:white;
    height:30px;
    width:130px;
    margin-left:1rem;
    border: none;
}
.mmm{
    border:2px solid transparent;
    height:300px;
    width:50%;
    display: flex;
    padding-left:10rem;

}
.imo{
    display: flex;
    
}
.nan{
    height:300px;
    width:100%;

}


